# Ignore everything
app/

# But not these files...
#v0.6.3
#release.version.patch.testing
#
# Style
#

!app/css/
!app/icons/
!app/css/loader.css
!app/css/main.css
!app/css/mblDomButtonCheck.png
!app/css/columnlayout.css
!app/icons/icon_common_white.png
!app/icons/icon_transactions_white.png
!app/icons/icon_common.png

#
# application source
#
!app/finance.appcache
!app/install.html
!app/index.html
!app/currencies.js
!app/rates.js
!app/config.xml
!app/js/
!app/js/etc
!app/js/etc/IndexedDBShim.min.js
!app/js/etc/appcache.js
!app/js/etc/money.js
!app/js/etc/fastclick.js
!app/js/etc/dropbox-datastores-1.1.0.js

!app/js/finance-release
!app/js/finance-release/money
!app/js/finance-release/money/views
!app/js/finance-release/money/money-app.js
!app/js/finance-release/money/conf.json
!app/js/finance-release/money/nls
!app/js/finance-release/money/nls/*
!app/js/fonts
!app/js/fonts/*

!app/js/finance-release/dojox
!app/js/finance-release/dojox/gfx
!app/js/finance-release/dojox/gfx/*
!app/js/finance-release/dojox/mobile/
!app/js/finance-release/dojox/mobile/themes
!app/js/finance-release/dojox/mobile/themes/iphone
!app/js/finance-release/dojox/mobile/themes/iphone/iphone.css

!app/js/finance-release/dojox/mobile/themes/common
!app/js/finance-release/dojox/mobile/themes/common/domButtons.css
!app/js/finance-release/dojox/mobile/themes/common/domButtons
!app/js/finance-release/dojox/mobile/themes/common/domButtons/*
!app/js/finance-release/dojox/mobile/themes/common/domButtons/compat
!app/js/finance-release/dojox/mobile/themes/common/domButtons/compat/*


!app/js/finance-release/dojo
!app/js/finance-release/dojo/selector/

!app/js/finance-release/dijit
!app/js/finance-release/dijit/_base/


!app/js/finance-release/dojox
!app/js/finance-release/dojox/css3
!app/js/finance-release/dojox/app/
!app/js/finance-release/dojox/app/controllers



!app/js/AppConfig.js
!app/js/finance-release/etc
!app/js/finance-release/etc/fastclick.js
!app/js/finance-release/dojox/mobile/themes/iphone/iphone.css
!app/js/finance-release/dojo/dojo.js
!app/js/finance-release/dojo/main.js
!app/js/finance-release/dojo/selector/acme.js
!app/js/etc/IndexedDBShim.min.js
!app/js/finance-release/money/numberpicker.html
!app/js/finance-release/money/views/list.html
!app/js/finance-release/money/views/summary.html
!app/js/finance-release/money/views/details.html
!app/js/finance-release/money/views/navigation.html
!app/js/finance-release/money/views/tagspicker.html
!app/js/finance-release/money/views/accountpicker.html
!app/js/finance-release/money/views/about.html
!app/js/finance-release/money/views/charts.html
!app/js/finance-release/money/views/backup.html
!app/js/finance-release/money/views/settings.html
!app/js/finance-release/money/views/accounts.html
!app/js/finance-release/money/views/tags.html
!app/js/finance-release/money/views/currencypicker.html
!app/js/finance-release/money/views/timespan.html


#
# dojo library
#
!app/js/finance-release/dojo/_base
!app/js/finance-release/dojo/_base/browser.js
!app/js/finance-release/dojo/_base/unload.js
!app/js/finance-release/dojo/_base/html.js
!app/js/finance-release/dojo/_base/loader.js
!app/js/finance-release/dojo/_base/NodeList.js
!app/js/finance-release/dojo/NodeList-dom.js
!app/js/finance-release/dijit/_base/manager.js
!app/js/finance-release/dojox/app/controllers/History.js
!app/js/finance-release/dojox/app/View.js
!app/js/finance-release/dojox/app/ViewBase.js
!app/js/finance-release/dojox/css3/transition.js
!app/js/finance-release/dojox/css3/transit.js


#
# Charts
#

# SVG
!app/js/finance-release/dojox/gfx/svg.js
!app/js/finance-release/dojox/gfx/path.js

# Canvas
!app/js/finance-release/dojox/gfx/canvasWithEvents.js
!app/js/finance-release/dojox/gfx/canvas.js
!app/js/finance-release/dojox/gfx/arc.js
!app/js/finance-release/dojox/gfx/decompose.js
!app/js/finance-release/dojox/gfx/bezierutils.js
!app/js/finance-release/dojox/gfx/decompose.js
!app/js/finance-release/dojox/gfx/arc.js
!app/js/finance-release/dojox/gfx/bezierutils.js
