.btn-download {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  width: 200px;
  font-family: Sans;
  color: #ffffff;
  font-size: 130%;
  background: #33b5e5;
  padding: 10px;
  text-decoration: none;
  display:block;
  margin:auto;text-align:center
}

.btn-download:hover {
  background: #ff8800;
  text-decoration: none;
  
}

.links {
margin:auto;
text-decoration:none;
}

.btn-wrapper{width:auto; text-align:center}
