* {
	-webkit-tap-highlight-color: transparent!important; /* For some Androids */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
	outline: none!important;
}

.mblTabBarTabBar .mblTabBarButtonLabel{
	line-height: 16px;
}

.domButton.mblDomButtonBlueCircleMinus{
	margin-top: 10px;
}

.fa.fa-fixed {
	width: 20px;
	color: #007AFF;
	text-align:center;
	margin-right: 5px;
}

.mblListItemRightText{
	color : #666;
}

.mblButton{
	height:auto;
}

.mblEdgeToEdgeList.empty{
	border: none;
}

.mblTabBarButtonLabel{
	font-weight: bold;
}

.mblHeadingCenterTitle .mblHeadingDivTitle {
	/*text-transform: uppercase;*/
}

#summary-sum, #list-sum {
	height:22px; 
	background:#ededed;
	color: #666;
	position:absolute; 
	bottom:51px; 
	border-top:1px solid #ADAAAD; 
	z-index:1;
	left:0;right:0;
}
#summary-sum-ts, #list-sum-ts{
	float:left;margin-left:10px
}


body .mblTabBarSegmentedControl .mblTabBarButton {width:95px}

.title .mblHeadingSpanTitle{display:none}
.title .mblHeadingDivTitle{display:block}
.title .mblHeadingDivTitle{
	overflow:hidden; text-overflow:ellipsis; width:auto; position:static; margin:0 5px;
}

.mblFormLayout .mblToolBarButton{
	display: block; text-align:left; margin:0;
}

.mblFormLayout .mblToolBarButton.mblButton{
	
	padding: 0 0 0 10px;
	width: auto;
}

body{background: #C5CCD3;overflow:hidden;}

.hidden {
    display: none !important;
}
 
.mblFormLayout {
    background-color: rgba(0, 0, 0, 0);
}
 
.mblFormLayout > * > *:first-child {
    font-weight: normal;
    color: gray;
}
.mblFormLayout .mblExpandingTextArea{margin:0}
.mblFormLayout.mblFormLayoutAuto{padding-top:0.5em; padding-left:3px;}
.mblFormLayout.mblFormLayoutAuto > * > *{
	padding: 0.5em 10px 0.5em 5px!important 
}

#descr{
	width: 100%!important;
}

.mblExpandingTextArea{margin:0}

.mblFormLayoutReadOnly .readOnlyHidden {
    display: none !important;
}
 
.mblFormLayoutReadOnly 
	.mblTextArea {
		background-color: rgba(0, 0, 0, 0);
		border-width: 0px;
		width:100%
	}

.android_theme .mblFormLayoutReadOnly 
	.mblTextArea {
		background-color: #d3d3d3;
	}
 
.mblFormLayout 
	.mblTextArea,  .mblFormLayout .mblButton{
		font-weight: bold;
		width: 100%;
		padding-left: 10px;
	}

	
.mblFormLayout .mblButton.one-two{
		font-weight: bold;
		width: auto;
		/*margin-right: 70px;*/
	}

.mblFormLayout .mblButton.two-two{
		font-weight: bold;
		width: 50px;
		float:right;
		margin-top: -1px;
		height: 31px;
		line-height: 31px;
	}


li.mblListItem{height:auto; white-space: normal;}
li.mblListItem 
	.mblListItemLabel .summary{
		float:right;
		text-align:right;
		margin-right:20px;
		line-height:1.2em;
		margin-top:13px;
		margin-bottom:13px;
	}


.fa-small{font-size: 80%;}
.summary.sub-sum > div {height:1.3em}
.summary.sub-sum .transaction-amount, .transaction-account{ color:#666}
.summary{
	min-width: 60%;
	text-align: right;
	width: auto;
}
.fa-money {
	padding-left:0;
	position: relative;
	padding-right:2px;
}
#acc-sum{
	float: right; margin-right: 30px; font-size: 1.1rem; color: black;
}

.transaction-account{
	padding-left:20px;
	padding-right:10px; 
	font-style:oblique;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;display:block;
}

.mblSimpleDialog{
	width: 280px;
}

.transaction-amount{
	color: #324F85;
    float: right;
    line-height: normal;
    margin-right: 4px;
    position: relative;display:block;line-height:1.2em
}

.mblListItemRightIcon{
	margin-top: -15px!important;
	position: absolute!important;
	right: 5px!important;
	top: 50%!important;
}
.date-header{
	white-space: nowrap;
	margin-bottom: -15px;
	float : left
}

.li-total{
	border-top: dashed 1px #ccc; margin-top:0.3em;padding-top:0.2em;
	float: right; margin-right: 4px;
	color: #324F85
}
.mblButton{text-align:left}

.li-descr hr{
	border: none;
	border-top: dashed 1px #ccc;
	margin-left: 0;
	margin-right: 35px
}

.li-descr{
	float:left;
	clear:right;
	margin-top: -0.5em;
	/*border-top: dashed 1px #ccc;*/
	font-size:80%;
	font-style:oblique;
	line-height:1.5em;
	margin-bottom:0.5em;
	padding-left: 15px;
	width:100%;
}

.weather{
	position:absolute; left:10px; color:white; font-size:80%; color: white
}
#weather-type{
	position:relative; font-size: 100%; color:white; top:-2px
}


/*
 *	Overlay styles 
*/ 

.overlay .wrapper{
	padding:3px;
}
.overlay .mblHeading{
	text-transform: uppercase;
	font-weight: bold;
}

.overlay .mblToolBarButton.wide{
	width:100%;
	height:50px;
	border: solid 1px #ccc;
	border-radius: 6px;
	line-height:50px;
	font-weight:bold;
	font-size: 120%; display:block;padding:0;margin:0
}

.wrapper1 .mblSpinWheelSlot{width:90px}
.wrapper1 .mblSpinWheelDatePicker{width:282px}
#transactionDateOverlay{width: 290px;}

.overlay > div{margin:auto}

ul.mblTabBar.mblTabBarTabBar{
	padding: 3px 0 0 0!important; bottom:0;
}
ul.mblTabBar li .mblTabBarButtonIconArea{
	width:21px;
	margin-bottom:4px;
}

.mblFormLayout .mblToolBarButton.mblGreyButton{
	border: 1px solid #007AFF; color: #666;
}

#newAccount,#newTags{width:100%;line-height:40px;height:40px; font-size:25px; padding:0 10px; margin-left:-10px;}
#accountPicker,#tagsPicker{margin:10px 0 0 0}

.iphone_theme .mblFormLayout.mblFormLayoutAuto .mblTabBarButton.mblTabBarButtonSelected{color:black;text-shadow:none}
#transactionTagsOverlay .wrapper1{height:100%;padding:0;border:0;}
#transactionTagsOverlay {height: 100%;
    padding: 0;}

.mblHeading .mblToolBarButton.right-button, .right-button{float:right}
.mblHeading .mblToolBarButton.left-button, .left-button{float:left}

.mblHeadingDivTitle{position:static}

.mblFormLayout .mblButton{
	height: 29px; line-height:29px;
}
.question{padding:0 10px}

/*
div .navPane {
	width:250px;
	border-right:1px solid black;
	background-color: #C5CCD3;
	z-index:100;
	height:100%;
	float: left;
}*/
.left {
	float: left; 
	min-width: 250px !important;
	width: 20% !important;
	border-right:1px solid black;
	background-color: #C5CCD3;
	z-index: 100;	
	height: 100%; 
}
.fullwidth{
	width:100%
}
.mblHeading.bottom{border-bottom:none}
/*
.phone div .navPane {
	width:0;
}

.phone .dijitAlignCenter.dijitLayoutContainer
{
	left:0 !important;
	width:100%!important;
}

.phone .menu-button{
	display:none
}
*/

.dojoxLegendNode{width:100%}
.dojoxLegendNode .dojoxLegendText{padding-left:10px}

/*.icon-list li .mblSpriteIconParent img {height:15px}*/

.mblSimpleDialogText ul{list-style-type: none}
.mblSimpleDialogText a{color:white; font-weight:bold}

body .mblProgContainer{
	top: 0
}
.mblProgressIndicator.mblProgressIndicatorCenter{
	position: relative; top:0;
}

.dlgClose{
margin: 0 auto 10px auto}

ul.no-background{
	border: none; background:none;
}


/*@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}*/
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid white;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 28px;
    border-radius: 12px;
    
    height: 28px;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
    animation: spin 1s infinite linear;
}

.mblSpriteIcon{height:17px}

.button-at-right .mblListItemRightText{
	margin-top: 7px;
}

.domButton{
	float:left;
	margin-top:5px;
	margin-right:5px;
}

#currencyInput {
	width: 100%;
	height: 40px;
	padding: 0 10px;
}

#confirm-exit p span{
	background: #eee;
	border-radius : 6px;
	-webkit-border-radius : 6px;
	-moz-border-radius : 6px;
	border: solid 1px #666;
	padding: 5px 10px;
}
#confirm-exit p {
	text-align: center;
}
#confirm-exit {
	position: absolute;
	bottom: 0;
	left:0; right: 0; bottom: 70px;
	display: none; z-index: 999;	
}


.mblSimpleDialog .mblButton.mblBlueButton,.mblSimpleDialog .mblButton.mblRedButton {
	width	: 100px; 
	text-align:center; 
	margin	: 0 5px 5px 5px; font-weight: bold;
}


input[type="text"]{
	-moz-box-sizing: border-box
}
.view-help{
	text-align	: left;
	font-size	: 0.9rem;
	font-weight	: normal;
	margin-bottom: 5px;
	line-height: 1rem;
	color: #666;
	font-style: oblique;
	white-space: normal;
}


.right-title{
	margin-right:20px;
	float: right;
	text-align: right;
	white-space: normal;
	margin-left: 100px;
}



