.loader {
    font-family: Helvetica;
    font-size: 24px;
    line-height: 20px;
    line-height: 28px;
    position: absolute;
    top: 50%;right: 0;
    left: 0;
    margin-top: -40px;
    color: #324f85;
}
.loader.loader-text {
    text-align: center;
}
.loader-text p{
    margin: auto;
    position: relative;
    text-align: center;
    width: auto;
}
.loader-text p.state span{
	border-top: 1px solid #888;
	padding-top: 2px;
    
}
.loader-text p.state {
    font-size: 60%;
    position: relative;
    color: #666;
    
}
