* {
    outline: none!important;
    -webkit-tap-highlight-color: transparent!important; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
}
.mblTabBarTabBar .mblTabBarButtonLabel {
    line-height: 16px;
}
.domButton.mblDomButtonBlueCircleMinus {
    margin-top: 10px;
    margin-bottom: 7px;
}
.fa.fa-fixed {
    width: 20px;
    margin-right: 5px;
    text-align: center;
    color: #007aff;
}
.holodark_theme .mblListItemSelected .fa.fa-fixed {
	color: white;
}
.holodark_theme .fa.fa-fixed {
	color: #09c;
}
.iphone_theme .mblListItemSelected .fa.fa-fixed {
	color: white;
}
.iphone_theme .fa.fa-fixed {
	color: #666;
}
.mblListItemRightText {
    color: #666;
}
.mblButton {
    height: auto; font-size: 1rem
}
.mblEdgeToEdgeList.empty {
    border: none;
}
.mblTabBarButtonLabel {
    font-weight: bold;
}
.mblHeadingCenterTitle .mblHeadingDivTitle {
    
}
#summary-sum,
#list-sum {
    position: absolute;
    z-index: 1;right: 0;
    bottom: 51px;
    left: 0;
    height: 22px;
    color: #666;
    border-top: 1px solid #adaaad;
    background: #ededed;
}
#summary-sum-ts,
#list-sum-ts {
    float: left;margin-left: 10px;
}
.holodark_theme #summary-sum, .holodark_theme #list-sum{
	background: black;
	color: white;
}
.iphone_theme #summary-sum, .iphone_theme #list-sum{
	background: #2d2d2d;
	color: white;
}
body .mblTabBarSegmentedControl .mblTabBarButton {
    width: 95px;
}
.title .mblHeadingSpanTitle {
    display: none;
}
.title .mblHeadingDivTitle {
    display: block;
}
.title .mblHeadingDivTitle {
    position: static;
    overflow: hidden; width: auto; margin: 0 5px;text-overflow: ellipsis;
}
.mblFormLayout
	.mblTextArea,
.mblFormLayout .mblButton {
    font-weight: bold;
	display: block;
    width: 100%;
    padding-left: 10px;
}
.ios7_theme .mblFormLayout .mblGreyButton {
	background: none repeat scroll 0 0 white;
    color: #666;
}
.mblFormLayout .mblToolBarButton {
    display: block; margin: 0;text-align: left;
    
    padding-left: 10px;
}
body {
    overflow: hidden;
}
.hidden {
    display: none !important;
}
.mblFormLayout {
    background-color: rgba(0, 0, 0, 0);
}
.mblFormLayout > * > *:first-child {
    font-weight: normal;
    color: gray;
}
.mblFormLayout .mblExpandingTextArea {
    margin: 0;
}
.mblFormLayout.mblFormLayoutAuto {
    padding-top: .5em; padding-left: 3px;
}
.mblFormLayout.mblFormLayoutAuto > * > * {
    padding: .5em 10px .5em 5px!important;
}
#descr {
    width: 100%!important;
}
.ios7_theme .mblExpandingTextArea {
	background: white;
    border: none;
}
.mblExpandingTextArea {
    margin: 0;
}
.mblFormLayoutReadOnly .readOnlyHidden {
    display: none !important;
}
.ios7_theme .mblFormLayoutReadOnly
	.mblTextArea {
		background-color: rgba(0, 0, 0, 0);
}
.mblFormLayoutReadOnly
	.mblTextArea {
    width: 100%;
    border-width: 0;
}
.android_theme .mblFormLayoutReadOnly
	.mblTextArea {
    background-color: #d3d3d3;
}
.mblFormLayout .mblButton.one-two {
    font-weight: bold;
	display: block;
	position:relative;
    width: auto;
    margin-right: 10px;
}
.ios7_theme .mblFormLayout .mblButton.two-two {
    font-weight: bold;
    line-height: 29px;
    height: 31px;
    margin-top: 0;
}
.mblFormLayout .mblButton.two-two {
    float: right;
    width: auto;    
}
li.mblListItem {
    height: auto; white-space: normal;
}
li.mblListItem
	.mblListItemLabel .summary {
    line-height: 1.2em;
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    margin-bottom: 13px;
    text-align: right;
}
.fa-small {
    font-size: 80%;
}
.summary.sub-sum > div {
    height: 1.3em;
}
.summary.sub-sum .transaction-amount,
.transaction-account {
    color: #666;
}
.holodark_theme .summary.sub-sum .transaction-amount,
.holodark_theme .transaction-account {
    color: #eee;
}
.summary {
    width: 100%;
    
    text-align: right;
}
.fa-money {
    position: relative;
    padding-right: 2px;
    padding-left: 0;
}
.holodark_theme #acc-sum{
	 color: white;
}
.ios7_theme #acc-sum{
	margin-right: 2px;
}
.iphone_theme #acc-sum {
	margin-right: 20px;
}
#acc-sum {
    font-size: 1.1rem;
    float: right; 
}
.transaction-account {
    font-style: oblique;
    position: relative;display: block;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mblSimpleDialog {
    width: 280px;
}
.holodark_theme .mblListItemSelected .transaction-amount {
	color: #fff;
}
.holodark_theme .transaction-amount {
	color: #09c;
}
.transaction-amount {
    line-height: normal;    line-height: 1.2em;
    position: relative; display: block;
    float: right;
    margin-right: 4px;
    color: #324f85;
}
.mblListItemRightIcon {
    position: absolute!important;
    top: 50%!important;
    right: 5px!important;
    margin-top: -15px!important;
}
.date-header {
    float: left;
    margin-bottom: -15px;
    white-space: nowrap;
}
.holodark_theme .li-total {
	color: #09c;
}
.li-total {
    float: right; margin-top: .3em;margin-right: 4px;padding-top: .2em;
    color: #324f85;
    border-top: dashed 1px #ccc;
}
.mblButton {
    text-align: left;
}
.holodark_theme .li-descr hr {
	border-top: dashed 1px #999;
}
.li-descr hr {
    margin-right: 35px;
    margin-left: 0;
    border: none;
    border-top: dashed 1px #ccc;
}
.holodark_theme .mblListItemSelected .li-descr {
	color: #eee;
}
.holodark_theme .li-descr {
	color: #999;
}
.li-descr {
    
    font-size: 80%;
    font-style: oblique;
    line-height: 1.5em;
    float: left;
    clear: right;
    width: 100%;
    margin-top: -.5em;
    margin-bottom: .5em;
    padding-left: 15px;
}
.weather {
    font-size: 80%;
    position: absolute; left: 10px; color: white; color: white;
}
#weather-type {
    font-size: 100%;
    position: relative; top: -2px;color: white;
}
.overlay .wrapper {
    padding: 3px;
}
.overlay .mblHeading {
    font-weight: bold;
    text-transform: uppercase;
}
.overlay .mblToolBarButton.wide {
    font-size: 120%;
    font-weight: bold;
    line-height: 50px;display: block;
    width: 100%;
    height: 50px;margin: 0;padding: 0;
    border: solid 1px #ccc;
    border-radius: 6px;
}
.wrapper1 .mblSpinWheelSlot {
    width: 90px; 
}
.wrapper1 .mblSpinWheelDatePicker {
    width: 282px;
}
#transactionDateOverlay {
    width: 290px;
}
.overlay > div {
    margin: auto;
}
ul.mblTabBar.mblTabBarTabBar {
    bottom: 0;
    padding: 3px 0 0 0!important;
}
ul.mblTabBar li .mblTabBarButtonIconArea {
    width: 21px;
    margin-bottom: 4px;
}
.ios7_theme .mblFormLayout .mblToolBarButton.mblGreyButton {
    color: #666;
    
     background: white; 
}
#newAccount,
#newTags {
    font-size: 25px; line-height: 40px;
    width: 100%;height: 40px; margin-left: -10px;padding: 0 10px;
}
#accountPicker,
#tagsPicker {
    margin: 10px 0 0 0;
}
.iphone_theme .mblFormLayout.mblFormLayoutAuto .mblTabBarButton.mblTabBarButtonSelected {
    color: black;text-shadow: none;
}
#transactionTagsOverlay .wrapper1 {
    height: 100%;padding: 0;border: 0;
}
#transactionTagsOverlay {
    height: 100%;
    padding: 0;
}
.mblHeading .mblToolBarButton.right-button,
.right-button {
    float: right;
    min-width: 50px;
}
.mblHeading .mblToolBarButton.left-button,
.left-button {
    float: left;
}
.mblHeadingDivTitle {
    position: static;
}
.mblFormLayout .mblButton {
    line-height: 28px;
    height: 29px;
}
.question {
    padding: 0 10px;
}
.ios7_theme .left {
	background-color: #e5e5e5;
}
.left {
    z-index: 100;
    float: left;
    width: 20% !important;
    min-width: 250px !important;
    height: 100%;
    border-right: 1px solid black;
    
}
.fullwidth {
    width: 100%;
}
.mblHeading.bottom {
    border-bottom: none;
}
.ios7_theme .dojoxLegendNode {
	background: white
}
.dojoxLegendNode {
    width: 100%;
}
.dojoxLegendNode .dojoxLegendText {
    padding-left: 10px;
}
.mblSimpleDialogText ul {
    list-style-type: none;
}
.mblSimpleDialogText a {
    font-weight: bold;
    color: white;
}
body .mblProgContainer {
    top: 0;
}
.mblProgressIndicator.mblProgressIndicatorCenter {
    position: relative; top: 0;
}
.dlgClose {
    margin: 0 auto 10px auto;
}
ul.no-background {
    border: none; background: none;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
.loading .maskedCircle {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 12px;
}
.loading .mask {
    overflow: hidden;
    width: 28px;
    height: 28px;
    border-radius: 12px;
}
.loading .spinner {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    animation: spin 1s infinite linear;
}
.mblSpriteIcon {
    height: 17px;
}
.button-at-right .mblListItemRightText {
    margin-top: 7px;
}
.domButton {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
#currencyInput {
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
.holodark_theme #confirm-exit p span {
	background: #333;
	color: white;
}
#confirm-exit p span {
    padding: 5px 10px;
    border: solid 1px #666;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
    background: #eee;
}
#confirm-exit p {
    text-align: center;
}
#confirm-exit {
    position: absolute;z-index: 999;right: 0;
    bottom: 0;    bottom: 70px;
    left: 0;
    display: none;
}
.mblSimpleDialog .mblButton.mblBlueButton,
.mblSimpleDialog .mblButton.mblRedButton {
    font-weight: bold;
    min-width: 100px;
    margin: 0 5px 5px 5px;
    text-align: center;
}
input[type='text'] {
    -moz-box-sizing: border-box;
}
.holodark_theme .view-help {
	color: #f80;
}
.view-help {
    font-size: .9rem;
    font-weight: normal;
    font-style: oblique;
    line-height: 1rem;
    margin-bottom: 5px;
    text-align: left;
    white-space: normal;
    color: #666;
}
.right-title {
    float: right;
    margin-right: 20px;
    margin-left: 100px;
    text-align: right;
    white-space: normal;
}
.mblListItemSelected .transaction-account{
	color: white
}
.simple-link {
	color: #666;
}
.holodark_theme .mblSecondHeading {
	border-bottom: none;
}
.holodark_theme .simple-link {
	color: #ddd;
}
.ios7_theme table#legend td{
	background: white;
}
.holodark_theme table#legend td{
	border-color: #333538;
}
table#legend td{
	height: 40px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.chart-legend-label{
	cursor: pointer;
	left: 0;
	right: 0;
	top: 0;
	bottom:0;
	position: absolute;
}
.ios7_theme .mblScrollablePane .mblPane {
	background: white;
}
.mblScrollablePane .mblPane {
	padding: 10px 25px;	
}
.ios7_theme .mblScrollableViewContainer .mblEdgeToEdgeList, .ios7_theme .mblBackground{
	background: #e5e5e5;
}
#charts-pie-sum-ts {
	float:left;
}
#charts-pie-sum-total {
	float: right;
	margin-right: 20px;
}
#simplechart>div>div{
	z-index: 9999;
}
.heading-button-wrapper{
	padding: 10px 20px 5px;
}
#dFinance_timespan .mblListItemSelected .mblListItemRightText{
	color: white;
}
#dFinance_timespan .mblListItemRightText{
	margin-right: 14px;
}
