.btn-download {
    font-family: Sans;
    font-size: 130%;

    display: block;

    width: 200px;
    margin: auto;
    padding: 10px;text-align: center;
    text-decoration: none;

    color: #fff;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    background: #33b5e5;
}

.btn-download:hover {
    text-decoration: none;

    background: #f80;
}

.links {
    margin: auto;

    text-decoration: none;
}

.btn-wrapper {
    width: auto; text-align: center;
}
