<div class="mblBackground">
    <div data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="fixed: 'top'">
        <button data-dojo-type="money/TouchableToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'navigation', transitionDir: -1, transitionOptions: { params: { id: window.AppData.currentDate }}"
            style="position: absolute; left: 0"
            class="backButton">${nls.menu}</button>
    </button>
    ${nls.title}        
    </div>
    	<div 
		data-dojo-type="money/WheelScrollableView"
		data-dojo-props="threshold:window.AppData.treshold">
		<div class="mblEdgeToEdgeList">
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
			R5M Finance v0.7.3 (beta)
		</div>
		<div data-dojo-type="dojox/mobile/Pane">
			${nls.r5mfIs}
		</div>
		
		
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
			${nls.webSiteTitle}
		</div>
		<div data-dojo-type="dojox/mobile/Pane">
			${nls.webSite} <a href="https://r5m.github.io" class="simple-link" target="_blank">${nls.webSiteUrl}</a> 
		</div>
		
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
			${nls.updates}
		</div>
		<div data-dojo-type="dojox/mobile/Pane" 
			data-dojo-props='shadow:true' 
			data-dojo-attach-point="updateStatus">
			<span id="about-updates"></span>
			<br/>${nls.updated}<span id="about-updated"></span>
		</div>
		
		<div data-dojo-type="dojox/mobile/Pane" style="display:none">	
			${nls.symba}
		</div>
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
			${nls.thanks}
		</div>
			<ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "dojotoolkit.org"'>Dojo toolkit					
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "nparashuram.com"'>IndexedDB polyfill</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "fontawesome.io"'>
					Font Awesome					
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "openexchangerates.org"'>
					Open Exchange Rates
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "josscrowcroft.github.com/money.js"'>
					Money.js
				</li>
			</ul>
		
		</div>
    </div>
</div>
