<div class="mblBackground">
    <div data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="fixed: 'top'">
        <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'navigation', transitionDir: -1"
            class="left-button">${nls.menu}</button>
    </button>
    ${nls.title} 
    </div>
    <div data-dojo-type="money/WheelScrollableView">
		<div id="online">
				<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
					${nls.title}
				</div>
				<div id="sync-login" data-dojo-type="dojox/mobile/Pane" data-dojo-props='shadow:true'>
					${nls.dropbox}
					<br/>
					<span id="dr-redir">${nls.dropboxRedirect}</span>
					<span id="dropbox-sync-help">${nls.dropboxStart}</span>
					<button data-dojo-type="money/TouchableButton" class="mblBlueButton"  id="backup-create"
						data-dojo-attach-point="syncBtn"  style="padding: 0 10px; margin:0; margin-top:5px;"
						data-dojo-props='label:"${nls.backupCreate}"'>
					</button>					
					<button 
						data-dojo-type="money/TouchableButton"
						data-dojo-props="label: '${nls.linkDropbox}'"
						data-dojo-attach-point="loginBtn" class="mblBlueButton" style="padding: 0 10px; margin:0; margin-top:5px;"
						></button>					
				</div>
			<div id="backup-download">			
				<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
					${nls.onlineBackup}
				</div>
				<ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
					<!--<li data-dojo-type="dojox/mobile/ListItem"  id="backup-restore"
						data-dojo-attach-point="restoreBtn"
						data-dojo-props='clickable:true, label:"${nls.restore}"'>
					</li>-->
					<li data-dojo-type="dojox/mobile/ListItem"
						data-dojo-attach-point="logoutBtn"
						data-dojo-props='noArrow: true, clickable:true, label:"${nls.unlinkDropbox}"'>
					</li>
					<li data-dojo-type="dojox/mobile/ListItem"  id="backup-clear"
						data-dojo-attach-point="clearBtn"
						data-dojo-props='noArrow: true, clickable:true, label:"${nls.clearRemote}"'>
					</li>
				</ul>
			</div>
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
					${nls.factoryReset}
			</div>
			<ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
				<!--<li data-dojo-type="dojox/mobile/ListItem"  id="backup-clear-trans"
					data-dojo-attach-point="clearTransBtn"
					data-dojo-props='clickable:true, label:"${nls.clearTrans}"'>
				</li>-->
				<li data-dojo-type="dojox/mobile/ListItem"  id="backup-clear-all"
					data-dojo-attach-point="clearAllBtn"
					data-dojo-props='noArrow: true, clickable:true, label:"${nls.clear}"'>
				</li>
			</ul>
		</div>
		<div id="offline">
			<div data-dojo-type="dojox/mobile/Pane">
				${nls.internetRequired}
			</div>
		</div>
    </div>
</div>
