<div data-dojo-type="dojox/app/widgets/Container" >
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="fixed:'top',label:'${nls.title}'">
			<div data-dojo-type="dojox/mobile/ToolBarButton" label="DONE" class="mblColorBlue" style="width:45px;float:right;" 
				data-dojo-attach-point = "done"
			></div>
		</h1>
		<div data-dojo-type="dojox/mobile/Heading" data-dojo-props="fixed:'top'" style="height:auto">
				<div style="padding: 5px 20px;">
					<input type="text" data-dojo-type="dojox/mobile/TextBox" id="currencyInput" 
						data-dojo-props="placeHolder:'${nls.selectCurrency}', readOnly: true"/>
				</div>
			</div>
		<div data-dojo-type="money/WheelScrollableView" data-dojo-props="threshold:window.AppData.treshold">
			
			<div id="currencyPicker" 
				data-dojo-type="dojox/mobile/RoundRectStoreList"
                data-dojo-mixins="dojox/mobile/LongListMixin"
				data-dojo-attach-point="currencyPicker"
				data-dojo-props="maxPages:3, pageSize:10,  stateful:true, store: window.AppData.currencyStore, select:'single'">
			</div>
		</div>
	
</div>	
