<div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center">
    
    <div data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="fixed: 'top'" id="list-title" class="title">
        <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'summary', transitionDir: -1, transitionOptions: { params: { id: window.AppData.currentDate }}"
            class="left-button backButton"
            >${nls.summary}</button>       
		</button>
		${nls.title}
		<button data-dojo-type="dojox/mobile/ToolBarButton"
			class="right-button"
			data-dojo-props="target: 'details',
				transitionOptions: { params: { edit: true } }"
			data-dojo-attach-point="add"><i class="fa fa-plus"></i> ${nls.add}</button>
		
    </div>
    
    <div id="list-sum">
		<span id="list-sum-ts">${nls.total}: </span>
		<span style="float:right;margin-right:10px">
			<span id="list-sum-title"></span>
			<span id="list-sum-total"></span>
		</span>
	</div>
	
    <ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props="fixed:'bottom'">
		<li data-dojo-type="dojox/mobile/TabBarButton" id='list-is-e'
			data-dojo-props="target: 'list', icon: 'icons/icon_transactions.png', iconPos1:'0,19,19,17',
                    transitionOptions: { params: { type: 'e', id : this.params.id } }">${nls.expences}</li>
		<li data-dojo-type="dojox/mobile/TabBarButton" id='list-is-i'
			data-dojo-props="target: 'list',icon: 'icons/icon_transactions.png', iconPos1:'0,0,19,17',
                    transitionOptions: { params: { type: 'i', id : this.params.id } }">${nls.incomes}</li>
		<li data-dojo-type="dojox/mobile/TabBarButton" id='list-is-t'
			data-dojo-props="target: 'list', icon: 'icons/icon_transactions.png', iconPos1:'0,38,21,17',
                    transitionOptions: { params: { type: 't', id : this.params.id } }">${nls.transfers}</li>
	</ul>
	
    <div data-dojo-type="money/WheelScrollableView"
		data-dojo-props="threshold:window.AppData.treshold">
		<div 
			data-dojo-type="dojox/mobile/RoundRectCategory" 
			data-dojo-attach-point="emptyMsgTitle">
				${nls.noExpences}
		</div>
		<div 
			data-dojo-attach-point="emptyMsg"
			data-dojo-type="dojox/mobile/RoundRect" 
			data-dojo-props='shadow:true'>
				${nls.tapAdd}
		</div>
    <div data-dojo-type="dojox/mobile/EdgeToEdgeStoreList"
            data-dojo-attach-point="transactions" id="daily-list"
            data-dojo-props="store: this.loadedStores.transactions,
							query: this.query,syncWithViews: true,
                            createListItem: this.createListItem,
							labelProperty: 'cats',append:false,
                            itemRenderer: this.listItem
                            ">
    </div>
</div>
