	<div data-dojo-type="dojox/app/widgets/Container" class="navPane left" id="main-nav" data-dojo-attach-point="navOuterContainer">
		<h1 data-app-constraint="top" data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'"></h1>
		<div data-dojo-type="dojox/app/widgets/Container" data-dojo-props="scrollable: true, threshold:window.AppData.treshold">
			<!--<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;">Navigation</h2>-->
			<ul data-dojo-type="dojox/mobile/EdgeToEdgeList" class="icon-list">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'<i class=\'fa-fixed fa fa-credit-card\'></i> ${nls.transactions}',target:'summary',arrow: true"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'<i class=\'fa-fixed fa fa-bar-chart-o\'></i> ${nls.stats}',target:'charts',url:'#charts'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'<i class=\'fa-fixed fa fa-clock-o\'></i> ${nls.timespan}', target: 'timespan'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'<i class=\'fa-fixed fa fa-hdd-o\'></i> ${nls.backup}', target: 'backup'"></li>
				
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'<i class=\'fa-fixed fa fa-gear\'></i> ${nls.settings}', target:'settings'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'<i class=\'fa-fixed fa fa-info\'></i> ${nls.about}',target:'about',url:'#about'"></li>
			</ul>
		</div>
	</div>
