<div class="mblBackground">
    <div data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="fixed: 'top'">
        <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'navigation', transitionDir: -1, transitionOptions: { params: { id: window.AppData.currentDate }}"
            style="float: left"
            class="backButton">${nls.menu}</button>
    </button>
    ${nls.title} 
    </div>
    <div data-dojo-type="money/WheelScrollableView">
		<div>
			<div data-dojo-type="dojox/mobile/RoundRect" data-dojo-props='shadow:true'>
				${nls.help}
			</div>
		
			<div>
				<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props='shadow:true'>
					${nls.selectTimespan}
				</div>
				<ul data-dojo-type="dojox/mobile/RoundRectList" data-dojo-props="select:'single'">
					<li data-dojo-type="dojox/mobile/ListItem"
						data-dojo-attach-point="last31"
						data-dojo-props='clickable:true, label:"${nls.last31}"'>
					</li>
					<li data-dojo-type="dojox/mobile/ListItem"
						data-dojo-attach-point="customTimespan"
						data-dojo-props='clickable:true, label:"${nls.customTimespan}"'>
					</li>
					<li data-dojo-type="dojox/mobile/ListItem"
						data-dojo-attach-point="lastMonth"
						data-dojo-props='clickable:true, label:"${nls.lastMonth}"'>
					</li>
					<li data-dojo-type="dojox/mobile/ListItem"
						data-dojo-attach-point="noneTimespan"
						data-dojo-props='clickable:true, label:"${nls.allTimespan}"'>
					</li>
				</ul>
				<div data-dojo-attach-point="timespanOverlay" data-dojo-type="dojox/mobile/SimpleDialog" class="overlay date-overlay">
					<div class="wrapper1">
						<h2 style="margin: 0px; line-height: 45px;">
							<div data-dojo-type="dojox/mobile/ToolBarButton" label="${nls.done}" class="mblColorBlue" style="width:45px;float:right;" 								
								data-dojo-attach-point="okButton"				
							></div>
							${nls.selectDate}
							
							<div id="timespanPicker" style="margin-top: 10px;"></div>
						</h2>
						
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
