<div class="mblBackground">
    <div data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="fixed: 'top'">
        <button data-dojo-type="money/TouchableToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'navigation', transitionDir: -1, transitionOptions: { params: { id: window.AppData.currentDate }}"
            class="left-button">${nls.menu}</button>
    </button>
    ${nls.title}        
    </div>
    	<div 
		data-dojo-type="money/WheelScrollableView"
		data-dojo-props="threshold:window.AppData.treshold">
			
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				R5M Finance v0.10.6 <span style="text-transform: lowercase">(beta)</span>
			</div>
			
			<div data-dojo-type="dojox/mobile/Pane">
				${nls.r5mfIs}				
			</div>
			
			
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.webSiteTitle}
			</div>
			
			<div data-dojo-type="dojox/mobile/Pane">
				${nls.webSite} ${nls.webSiteUrl}
			</div>
			
			
			
			<!--<div data-dojo-type="dojox/mobile/Pane">
				<div id="donate-button" style="margin-top:5px;"></div>
			</div>-->
				
			
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.updates}
			</div>
		
			<div data-dojo-type="dojox/mobile/Pane" 
				data-dojo-attach-point="updateStatus">
				<span id="about-updates"></span>
				<br/>${nls.updated}<span id="about-updated"></span>
			</div>
			
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.helpUs}
			</div>
			<div data-dojo-type="dojox/mobile/Pane">
				${nls.helpAbout}				
			</div>
			
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.eula}
			</div>			
			<div data-dojo-type="dojox/mobile/Pane">
				${nls.asIs}
			</div>
			
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.privacyTitle}
			</div>			
			<div data-dojo-type="dojox/mobile/Pane">
				${nls.privacy}
			</div>
			
			<div data-dojo-type="dojox/mobile/Pane" style="display:none">	
				${nls.symba}
			</div>
			
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.thanks}
			</div>
			
			<ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "dojotoolkit.org"'>Dojo toolkit					
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "nparashuram.com"'>IndexedDB polyfill</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "fontawesome.io"'>
					Font Awesome					
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "openexchangerates.org"'>
					Open Exchange Rates
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='rightText: "josscrowcroft.github.com/money.js"'>
					Money.js
				</li>
			</ul><!--
			<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory">${nls.issueTitle}</div>
			<div data-dojo-type="dojox/mobile/Pane">
				<a class="mblButton mblBlueButton" onclick="openNewWindow(event);" target="_blank" href="https://bitbucket.org/milikhin/finance/issues/new" >${nls.issue}</a>
			</div>-->
		</div>
</div>
