<div class="mblBackground">
    <div data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="fixed: 'top'">
        <button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'settings', transitionDir: -1, transitionOptions: { params: { id: window.AppData.currentDate }}"
            style="float:left"
            class="backButton">${nls.settings}</button>
		</button>
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            class="right-button mblRedButton"
            data-dojo-attach-point="addBtn"><i class="fa fa-plus"></i> ${nls.add}</button>
		${nls.title} 
    </div>
    <div data-dojo-type="money/WheelScrollableView">
		<div data-dojo-type="dojox/mobile/RoundRectCategory">
			<span class="right-title">${nls.startAmount}</span>${nls.myAccounts}
			</div>
			<div data-dojo-type="dojox/mobile/RoundRect" data-dojo-props="shadow:true" id="no-accounts-accounts">
				${nls.tap} <b>${nls.add}</b> ${nls.addFirst}.
			</div>
			<ul data-dojo-type="dojox/mobile/RoundRectList"
				data-dojo-attach-point = "accList" id="accs-list">
			</ul>
	</div>
	
</div>
