<div class="" data-dojo-type="dojox/app/widgets/Container" >
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="fixed:'top',label:'${nls.title}'">
			<div data-dojo-type="dojox/mobile/ToolBarButton" label="DONE" class="mblColorBlue" style="width:45px;float:right;" 
				data-dojo-attach-point = "done"				
			></div>
		</h1>
		<div data-dojo-type="money/WheelScrollableView">
		<div data-dojo-type="dojox/mobile/Heading" data-dojo-props="fixed:'top'" style="height:auto" class="mblSecondHeading">
			<div style="padding: 5px 20px;">
				<div class="view-help">${nls.viewHelp}</div>
				<input type="text" data-dojo-type="dojox/mobile/TextBox" id="newAccount" 
					data-dojo-props="placeHolder:'Enter account title'"/>
			</div>
		</div>
		<div style="padding: 0 10px 10px 10px">
			<div id="accountPicker" 
				data-dojo-type="dojox/mobile/RoundRectStoreList"
				data-dojo-attach-point="accountPicker"
				data-dojo-props="stateful:true,store: window.AppData.accountStore, select:'single'">
			</div>
		</div>
	</div>
</div>	
