<div class="mblBackground">
    <div data-dojo-type="dojox/mobile/Heading"
        data-dojo-props="fixed: 'top'">
        <button data-dojo-type="money/TouchableToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'navigation', transitionDir: -1, transitionOptions: { params: { id: window.AppData.currentDate }}"
            style="float:left"
            class="backButton">${nls.menu}</button>
		</button>
		${nls.title} 
    </div>
    <div data-dojo-type="money/WheelScrollableView">
		<ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
			
			<li data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.myData}
			</li>
				<li data-dojo-type="dojox/mobile/ListItem" 
					data-dojo-props='clickable:true,target:"accounts",label:"${nls.accounts}"'></li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props='clickable:true,target:"tags",label:"${nls.tags}"'></li>			
			<li data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.graphics}
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='clickable:true,target:"transitione",label:"${nls.transition}"'></li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='clickable:true,target:"theme",label:"${nls.theme}"'></li>
					
			<li data-dojo-type="dojox/mobile/EdgeToEdgeCategory">
				${nls.prefs}
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
					data-dojo-props='clickable:true,target:"language",label:"${nls.language}"'></li>
				
		</ul>
    </div>
</div>
